/* For information on how to create your own theme, please refer to:
http://ionicframework.com/docs/theming/ */

.custom-isbn-alert .alert-wrapper {
  border-radius: 16px !important;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2) !important;
}

.custom-isbn-alert .alert-title {
  font-weight: 700;
  color: #222;
}

.custom-isbn-alert .alert-message {
  font-size: 0.95rem;
  color: #666;
}

.alert-isbn-input {
  text-align: center !important;
  font-size: 1.25rem !important;
  font-weight: bold !important;
  letter-spacing: 2px !important;
  color: var(--ion-color-primary) !important;
  padding-top: 10px !important;
}

.alert-cancel-button {
  color: #999 !important;
  font-weight: 500 !important;
}

.alert-confirm-button {
  color: var(--ion-color-primary) !important;
  font-weight: 800 !important;
}
