.trending {
  --swiper-pagination-color: var(--ion-color-primary, #ffffff);

  --swiper-pagination-bullet-inactive-color: #ffffff;

  --swiper-pagination-bullet-inactive-opacity: 0.3;
}

.swiper {
  margin-bottom: 5px;
}
