.card {
  border: 1px solid black;
  height: inherit;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  margin-top: 5px;
}

.grid {
  flex: 0 0 auto;
}

.bookCover {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 4px;
}

.title {
  font-size: 1.2rem;
  line-height: 1.2;
}

.authors {
  margin-top: 4px;
}

.metadataInfo {
  margin-top: 8px;
  font-size: 0.85rem;
  color: var(--ion-color-step-600);
}

.mainCategory {
  margin-bottom: 8px;
}
