.fullscreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  height: 100%;
  width: 100%;
  background-color: var(--ion-background-color);
  white-space: pre-line;
  text-align: center;
}

.reduced {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto auto;
  gap: 0.5rem;
  height: 50%;
  width: 100%;
  background-color: var(--ion-background-color);
  white-space: pre-line;
}
