.fullscreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  height: 100vh;
  width: 100vw;
  background-color: var(--ion-background-color);
}

.reduced {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto auto;
  gap: 0.5rem;
  height: 50%;
  width: 100%;
  background-color: var(--ion-background-color);
}
